* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

header {
    background-color: #CF2B2B;
    color: white;
    height: 92px;
    width: 100%;
    max-width: 614px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
    font-size: 18px;
    line-height: 21px;
    height: 17px;
    margin-left: 21px;
    margin-top: 5px;
    
}

header p:first-of-type {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    height: 44px;
    margin-top: 8px;
}

main {
    background-color: #EEEEEE;
    margin-top: 92px;
    height: calc(842px + 160px);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;

}

main>p {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-left: 19px;
}

main>p:first-of-type {
    margin-top: 31px; 
}

.container-options {
    margin-left: 19px;
    margin-top: 17px;
    margin-bottom: 27px;
    height: auto;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    
}

.food-option {
    background-color: white;
    height: 100%;
    min-width: 172px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    position: relative;
    padding-left: 14px;
}

.container-options img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 18px;
    margin-bottom: 6px;
}

.container-options strong {
    height: 23px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

.container-options small {
    height: auto;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #A6A6A6;
    
}

.container-options p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 21px;
    color: black;
    margin-bottom: 12px;
}

.container-options > div:last-of-type {
    margin-right: 37px;
}

footer {
    background-color: white;
    height: 92px;
    width: 100%;
    max-width: 614px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.order-button-disabled,
.order-button-enabled {
    height: 61px;
    width: 364px;
    border-radius: 50px;
    margin-top: 15px;
    border-style: none;
    color: white;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
}

.order-button-disabled {
    background-color: #CBCBCB;
}

.order-button-enabled {
    background-color: #32B72F;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.review-screen-container {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 614px;
    background: rgba(255, 255, 255, 0.9);
}

.review-screen {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-screen > p {
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 28px;
}

.review-screen > div {
    width: 329px;
    display: flex;
    justify-content: space-between;
}

.review-screen div p {
    color: white;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    margin-bottom: 13px;
}

.review-screen > div:last-of-type {
    font-weight: bold;
}

.review-screen button:first-of-type {
    margin-top: 8px;
    background: #FFFFFF;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.review-screen button:first-of-type p{
    color: #50D074;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
}

.review-screen button:last-of-type {
    background-color: inherit;
    border: none;
}

.review-screen button:last-of-type p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
}

ion-icon {
    color: #32B72F;
    font-size: 24px;
    position: absolute;
    bottom: 11px;
    right: 12px;
}

